In [ ]:
!pip install sportsreference

Collecting sportsreference
  Downloading https://files.pythonhosted.org/packages/43/f8/58106455dcc98ef602a959881c42a4814bab1bd1211d7d5e341d9b44b914/sportsreference-0.5.2-py3-none-any.whl (472kB)
     |████████████████████████████████| 481kB 2.9MB/s
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.6/dist-packages (from sportsreference) (2.23.0)
Requirement already satisfied: pandas>=0.24.1 in /usr/local/lib/python3.6/dist-packages (from sportsreference) (1.0.5)
Collecting pyquery>=1.4.0
  Downloading https://files.pythonhosted.org/packages/78/43/95d42e386c61cb639d1a0b94f0c0b9f0b7d6b981ad3c043a836c8b5bc68b/pyquery-1.4.1-py2.py3-none-any.whl
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.4->sportsreference) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.4->sportsreference) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.4->sportsreference) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.4->sportsreference) (2.10)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.1->sportsreference) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.1->sportsreference) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.1->sportsreference) (1.18.5)
Collecting cssselect>0.7.9
  Downloading https://files.pythonhosted.org/packages/3b/d4/3b5c17f00cce85b9a1e6f91096e1cc8e8ede2e1be8e96b87ce1ed09e92c5/cssselect-1.1.0-py2.py3-none-any.whl
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.6/dist-packages (from pyquery>=1.4.0->sportsreference) (4.2.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24.1->sportsreference) (1.15.0)
Installing collected packages: cssselect, pyquery, sportsreference
Successfully installed cssselect-1.1.0 pyquery-1.4.1 sportsreference-0.5.2

Imports

In [ ]:
import pandas as pd 
import numpy as np
import sportsreference.nfl
from sportsreference.nfl.teams import Teams
from sportsreference.nfl.schedule import Schedule
from sportsreference.nfl.boxscore import Boxscore

Get Data

In [ ]:
## Initialize Data Frame
columns = ["Week","AvgPointsScored","AvgPassYards","AvgRushYards","AvgInterceptions","AvgTimesSacked","OppPointsAllowed","OppPassYards","OppRushYards","OppInterceptions","OppSacks","Points"]
#columns = ["Week","AvgPointsScored","AvgPassYards","AvgRushYards","AvgInterceptions","AvgTimesSacked","Points"]
df = pd.DataFrame(columns=columns)

teams = Teams()
counter = 0
## Loop through each team
for team in teams:
  print(team.abbreviation)
  schedule = Schedule(team.abbreviation)
  ## Loop through each week 
  for game in schedule:
    if (game.result is not None):
      opposing_schedule = Schedule(game.opponent_abbr)
      # Keep track of the opposing teams totals
      opp_points_allowed = 0
      opp_pass_yards = 0
      opp_rush_yards = 0
      opp_interceptions = 0
      opp_sacks = 0
      for opp_game in opposing_schedule:
        opp_boxscore = Boxscore(opp_game.boxscore_index)
        if (opp_game.week <= game.week):
          if (game.opponent_abbr == opp_boxscore.winning_abbr):
            if (opp_boxscore.winner == "Home"):
              opp_points_allowed += opp_boxscore.away_points
              opp_pass_yards += opp_boxscore.away_net_pass_yards
              opp_rush_yards += opp_boxscore.away_rush_yards
              opp_interceptions += opp_boxscore.away_interceptions
              opp_sacks += opp_boxscore.away_times_sacked
            else:
              opp_points_allowed += opp_boxscore.home_points
              opp_pass_yards += opp_boxscore.home_net_pass_yards
              opp_rush_yards += opp_boxscore.home_rush_yards
              opp_interceptions += opp_boxscore.home_interceptions
              opp_sacks += opp_boxscore.home_times_sacked
          else:
            if (opp_boxscore.winner == "Home"):
              opp_points_allowed += opp_boxscore.home_points
              opp_pass_yards += opp_boxscore.home_net_pass_yards
              opp_rush_yards += opp_boxscore.home_rush_yards
              opp_interceptions += opp_boxscore.home_interceptions
              opp_sacks += opp_boxscore.home_times_sacked
            else:
              opp_points_allowed += opp_boxscore.away_points
              opp_pass_yards += opp_boxscore.away_net_pass_yards
              opp_rush_yards += opp_boxscore.away_rush_yards
              opp_interceptions += opp_boxscore.away_interceptions
              opp_sacks += opp_boxscore.away_times_sacked
          
    
      # if (game.week == 1):
      # #   ## collect data
      df.loc[counter]={"Week":game.week,"AvgPointsScored":game.points_scored,"AvgPassYards":game.pass_yards,"AvgRushYards":game.rush_yards,"AvgInterceptions":game.interceptions,"AvgTimesSacked":game.times_sacked,"OppPointsAllowed":(opp_points_allowed/game.week),"OppPassYards":(opp_pass_yards/game.week),"OppRushYards":(opp_rush_yards/game.week),"OppInterceptions":(opp_interceptions/game.week),"OppSacks":(opp_sacks/game.week),"Points":game.points_scored}
      counter +=1
      # elif (game.week == 17):
      # #   ## collect data and use model to make prediction
      # else:
      # #   ##collect data and train model
## split into x_train, x_test, y_train, y_test where tests are data for current week, train is data from past weeks. y is the points scored
df.head()

GNB
SEA
RAV
RAI
NOR
MIN
KAN
CAR
WAS
JAX
BUF
CHI
ATL
CRD
TAM
DET
NWE
CLT
SFO
RAM
HTX
DAL
NYJ
PHI
SDG
CIN
MIA
CLE
OTI
PIT
NYG
DEN

   Week  AvgPointsScored  AvgPassYards  ...  OppInterceptions  OppSacks  Points
0   1.0             43.0         364.0  ...               0.0       0.0    43.0
1   1.0             38.0         322.0  ...               0.0       3.0    38.0
2   1.0             38.0         284.0  ...               0.0       2.0    38.0
3   1.0             34.0         239.0  ...               0.0       0.0    34.0
4   1.0             34.0         198.0  ...               0.0       1.0    34.0

[5 rows x 12 columns]

In [ ]:
print(df)